## QUESTIONS: APPLY ADVANCE STATATISTICAL TECHNIQUES TO A DATA SET PRESENTINT FINDIND AND INSIGHTS

In [2]:
# imorting library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

Matplotlib is building the font cache; this may take a moment.

In [4]:
# importing dataset
covid19 = pd.read_excel(r"C:\Users\ewoo\Desktop\covid19-nigeria-dataset.xlsx")

In [5]:
covid19.head(20)

,Date,Location,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Source,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up,Total Suspected Cases,Unnamed: 13
0,2020-02-27,Ogun,0,1,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,19,5.0,24.0,24.0,2,NaN
1,2020-02-27,Lagos,5,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,6,0.0,6.0,30.0,5,NaN
2,2020-03-01,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,34,5.0,39.0,39.0,1,NaN
3,2020-03-01,Lagos,3,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,19,0.0,19.0,58.0,3,NaN
4,2020-03-02,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,35,5.0,40.0,40.0,1,NaN
5,2020-03-02,Lagos,3,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,0.0,21.0,61.0,3,NaN
6,2020-03-03,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,35,5.0,40.0,40.0,1,NaN
7,2020-03-03,Lagos,6,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,0.0,21.0,61.0,6,NaN
8,2020-03-04,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,35,5.0,40.0,40.0,1,NaN
9,2020-03-04,Lagos,6,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,0.0,21.0,61.0,6,NaN
10,2020-03-05,Ogun,0,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,35,5.0,40.0,40.0,1,NaN
11,2020-03-05,Lagos,8,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,0.0,21.0,61.0,8,NaN
12,2020-03-06,Ogun,3,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,10,NaN,NaN,NaN,4,NaN
13,2020-03-06,Lagos,9,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,25,NaN,NaN,NaN,9,NaN
14,2020-03-06,FCT,7,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,12,NaN,NaN,NaN,7,NaN
15,2020-03-06,Kano,1,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,21,NaN,NaN,NaN,1,NaN
16,2020-03-06,Edo,1,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,0,NaN,NaN,NaN,1,NaN
17,2020-03-07,Ogun,3,0,1,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,0,NaN,NaN,NaN,4,NaN
18,2020-03-07,Lagos,11,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,5,NaN,NaN,NaN,11,NaN
19,2020-03-07,FCT,7,0,0,https://ncdc.gov.ng/themes/common/files/sitrep...,0,0,6,NaN,NaN,NaN,7,NaN

In [6]:
# dispaying dataset info
covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 171 non-null    datetime64[ns]
 1   Location                             171 non-null    object
 2   Suspected Cases                      171 non-null    int64
 3   Nr. Of New Cases                     171 non-null    int64
 4   Total Confirmed Cases                171 non-null    int64
 5   Source                               171 non-null    object
 6   Deaths                               171 non-null    int64
 7   Recovered                            171 non-null    int64
 8   Contacts Under Follow-up             171 non-null    int64
 9   HCW Contacts Under Follow-up         12 non-null     float64
 10  Total Contacts Under Follow-Up       12 non-null     float64
 11  Cumulative Contacts Under Follow-up  12 non-null     float64
 12  Total Suspected Cases                171 non-null    int64
 13  Unnamed: 13                          1 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(7), object(3)
memory usage: 18.8+ KB

In [7]:
# describe dataset
covid19.describe()

,Date,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up,Total Suspected Cases
count,171,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,12.000000,12.000000,12.000000,171.000000
mean,2020-03-16 19:05:15.789473792,6.988304,0.304094,1.000000,0.005848,0.076023,5.584795,2.500000,27.666667,46.250000,8.292398
min,2020-02-27 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,24.000000,1.000000
25%,2020-03-12 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,39.750000,1.000000
50%,2020-03-18 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.500000,22.500000,40.000000,2.000000
75%,2020-03-24 00:00:00,5.000000,0.000000,1.000000,0.000000,0.000000,8.000000,5.000000,40.000000,61.000000,6.000000
max,2020-03-25 00:00:00,116.000000,13.000000,32.000000,1.000000,2.000000,35.000000,5.000000,40.000000,61.000000,151.000000
std,NaN,15.605425,1.306516,3.872983,0.076472,0.325501,7.950405,2.611165,11.570600,13.403697,20.104635

In [8]:
# removing unwanted colunm
covid19.drop(["Source", "Unnamed: 13", "Total Suspected Cases"], inplace = True, axis = 1)

In [9]:
covid19

,Date,Location,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up
0,2020-02-27,Ogun,0,1,1,0,0,19,5.0,24.0,24.0
1,2020-02-27,Lagos,5,0,0,0,0,6,0.0,6.0,30.0
2,2020-03-01,Ogun,0,0,1,0,0,34,5.0,39.0,39.0
3,2020-03-01,Lagos,3,0,0,0,0,19,0.0,19.0,58.0
4,2020-03-02,Ogun,0,0,1,0,0,35,5.0,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...
166,2020-03-25,Oyo,3,0,1,0,0,0,NaN,NaN,NaN
167,2020-03-25,Plateau,4,0,0,0,0,0,NaN,NaN,NaN
168,2020-03-25,Rivers,7,1,1,0,0,0,NaN,NaN,NaN
169,2020-03-25,Sokoto,1,0,0,0,0,0,NaN,NaN,NaN
170,2020-03-25,Yobe,1,0,0,0,0,0,NaN,NaN,NaN

In [11]:
# renaming column
covid19.rename(columns = {"Location" : "State"}, inplace = True)

In [12]:
covid19.head()

,Date,State,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up
0,2020-02-27,Ogun,0,1,1,0,0,19,5.0,24.0,24.0
1,2020-02-27,Lagos,5,0,0,0,0,6,0.0,6.0,30.0
2,2020-03-01,Ogun,0,0,1,0,0,34,5.0,39.0,39.0
3,2020-03-01,Lagos,3,0,0,0,0,19,0.0,19.0,58.0
4,2020-03-02,Ogun,0,0,1,0,0,35,5.0,40.0,40.0

In [13]:
# calculating number of active cases an creating a column of active cases
covid19["Active_Cases"] = covid19["Total Confirmed Cases"] - (covid19["Recovered"] + covid19["Deaths"])

In [14]:
covid19.head()

,Date,State,Suspected Cases,Nr. Of New Cases,Total Confirmed Cases,Deaths,Recovered,Contacts Under Follow-up,HCW Contacts Under Follow-up,Total Contacts Under Follow-Up,Cumulative Contacts Under Follow-up,Active_Cases
0,2020-02-27,Ogun,0,1,1,0,0,19,5.0,24.0,24.0,1
1,2020-02-27,Lagos,5,0,0,0,0,6,0.0,6.0,30.0,0
2,2020-03-01,Ogun,0,0,1,0,0,34,5.0,39.0,39.0,1
3,2020-03-01,Lagos,3,0,0,0,0,19,0.0,19.0,58.0,0
4,2020-03-02,Ogun,0,0,1,0,0,35,5.0,40.0,40.0,1

In [15]:
# cretion of pivot table
pivot_table = pd.pivot_table(covid19, values = ["Total Confirmed Cases", "Deaths", "Recovered"], index = "State", aggfunc = max)

In [16]:
# finding out the recovery rate
pivot_table["Motality Rate"] = pivot_table["Deaths"]*100/pivot_table["Total Confirmed Cases"]

In [17]:
# sorting the values base on comfirm case
pivot_table = pivot_table.sort_values(by = "Total Confirmed Cases", ascending = False)

In [18]:
# plotting the pivot table
pivot_table.style.background_gradient(cmap = "cubehelix")